body {
    font-family: Arial;
}

.container {
    width: 80%;
    margin: auto;
}

nav a {
    margin-right: 15px;
    text-decoration: none;
}

table {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}
